body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #356;
    margin: 0;
    padding:0;
    background-color: rgb(243,243,243) ;
    background-size: cover;

   
}

.one {
   border-style:double;
  border: solid 3px;
  border-color: rgb(54,54,54);
  border-radius: 10px;
  color: rgb(54,54,54);
  font-family: Arial;
  padding: 4px;
  background-color:rgb(165,165,165);
  font-size: 17px;
  text-align: center;
  border-radius: 20px;
margin: 20px;
font-weight: bolder;
}




.two {
   
   color: black;
    font: Arial;
    text-align: center;
    align-items: center;

}

.three {
  border-radius: 10px;
  color: rgb(165,165,165);
  font-family: Arial;
  padding: 10px;
  background-color:rgb(54,54,54);
  font-size: 17px;
  text-align: center;
  border-radius: 20px;
margin: 50px;
font-weight: bolder;
}


four {
    border-style:double;
  border: solid 3px;
  border-color: white;
  border-radius: 10px;
  padding: 4px;
  background-color: white;

  border-radius: 40px;
margin: 20px;
width: 50%;
align-items: center;
}

.five {
  width: 25%;
  height: 25%;
  margin: 100px;border-style:double;
  border: solid 8px;
  border-color: rgb(54,54,54);
  border-radius: 10px;

}

h1 {
    color: black;
    font: Arial;
    text-align: center;
    font-size: 45px;
}
